#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app.light {
  --bg: white;
  --text: #213547;
  --btnBg: #1a1a1a;
  --btnText: white;
}

.app.dark {
  --bg: #1a1a1a;
  --text: white;
  --btnBg: white;
  --btnText: #213547;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg);
  color: var(--text);
}

.input {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg);
  color: var(--text);
}

.input input {
  margin-left: 10px;
}

.input-list {
  display: flex;
  align-items: center;
}

.section {
  background-color: var(--bg);
  color: var(--text);
  text-align: left;
}

.section h2 {
  padding: 8px;
  margin: 0px;
}

.counters {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg);
  color: var(--text);
}

.book-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.counters p {
  margin: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btnBg);
  color: var(--btnText);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}